@mixin font($font-family, $font-file) {
    @font-face {
      font-family: $font-family;
      src: url($font-file+'.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
  }
  @include font('Sansation Bold Italic', './fonts/Sansation_Bold_Italic');
  @include font('Sansation Bold', './fonts/Sansation_Bold');
  @include font('Sansation Italic', './fonts/Sansation_Italic');
  @include font('Sansation Light Italic', './fonts/Sansation_Light_Italic');
  @include font('Sansation Light', './fonts/Sansation_Light');
  @include font('Sansation', './fonts/Sansation_Regular');
  @include font('Aovel Light', './fonts/aovel/ASans');
  @include font('Aovel', './fonts/aovel/ASansreg');
  @include font('Aovel Bold', './fonts/aovel/ASansBOLD');
  @include font('Aovel Black', './fonts/aovel/ASansBlack');
  @include font('SF movie', './fonts/SFMonster/SF');
  @include font('SF movie bold', './fonts/SFMonster/SF_Bold');
  @include font('SF movie Condensed', './fonts/SFMonster/SF_Condensed');
  @include font('SF movie Condensed Bold', './fonts/SFMonster/SF_Condensed_Bold');
  @include font('SF movie Condensed Bold Oblique', './fonts/SFMonster/SF_Condensed_Bold_Oblique');

